<h1 align='center'><b>Super-Admin</b></h1>

<table>
    <tr>
        <th> Click </th>
        <th> ID </th>
        <th> Name </th>
        <th> Email </th>
        <th> Phone # </th>
        <th> Form Name </th>
        <th> Form Status </th>
        <th> Action </th>
    </tr>
    <tr *ngFor="let form of allForms">
        <td> {{ form.Id }} </td>
        <td> {{ form.Name }} </td>
        <td> {{ form.Id }} </td>
        <td> {{ form.Name }} </td>
        <td> {{ form.Id }} </td>
        <td> {{ form.Name }} </td>
        <td> {{ form.Id }} </td>
        <td> {{ form.Name }} </td>
    </tr>
</table>